// Breakpoints
@mixin mobile{
    @media screen and (min-width: 360px) and (max-width: 768px) {
        @content;
    }
}

@mixin bp-414 {
    @media screen and (min-width: 414px) and (max-width: 480px) {
        @content;
    }
}

@mixin bp-480 {
    @media screen and (min-width: 480px) and (max-width: 768px) {
        @content;
    }
}

@mixin pad{
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
} 

// Colors
$main-color: #448899;
$sub-color: #4EA0B4;
$main-txt: #666666;
$sub-txt: #F8F8F8;
$error: #FF1B1B;
$ok: #00CD28;
$blank: #C4C4C4;
$border: #E8E8E8;
$background: #E8E8E8;
$skeleton: #EBEBEB;
$btn: #666666;
$btn-hover: #B2B2B2;
$shadow: #AABBCC;

// Sizes
$normal-fs: 16px;
$card-ht: 240px;
$card__txt-pd: 10px;
$card__img-ht: $card-ht * 2/3;
$card__txt-ht: ( $card-ht * 1/3 ) - ($card__txt-pd * 2);

// Utilities
.hr{
    width: 100%;
    margin: 40px 0;
    border-bottom: 1px solid $border;

    @include mobile(){
        width: 360px;
    }
}

.btn{
    padding: 10px 20px;
    height: 36px;
    line-height: 16px;
    color: white;
    border-radius: 5px;
    background-color: $main-color;
    transition: 0.3s;
    cursor: pointer;
}

.hidden{
    display: none !important;
}

.ha{
    display: flex;
    justify-content: center;
}

.va{
    display: flex;
    align-items: center;
}

.skeleton{
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &::before{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $border;
    }

    &::after{
        display: block;
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        content: "";
        background: $skeleton;
        animation: loading-card 1s linear infinite;
    }

    @keyframes loading-card{
        0%{
            transform: translateX(-400%);
        }

        100%{
            transform: translateX(400%);
        }
    }
}

input.card-number{
    background-color: gray;
}

// CSS
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    min-height: 100%;
    color: $main-txt;
    font-size: $normal-fs;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.25);
    opacity: 0;
    transition: 1s;
    pointer-events: none;

    .gate{
        width: 340px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 4px 60px $shadow;
        transform: translateY(-400px);
        transition: 0.3s;

        &::before{
            display: block;
            width: 340px;
            height: 10px;
            content: "";
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
        }

        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            .gate__title{
                margin-bottom: 15px;
                font-size: 24px;
                font-weight: bold;
            }

            .gate__close{
                position: absolute;
                top: 25px;
                right: 15px;
                transition: 0.3s;
                cursor: pointer;

                &:hover{
                    opacity: 0.5;
                    transition: 0.3s;
                }
            }

            .gate__form-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;

                .gate__input-wrapper{
                    position: relative;
                }

                .gate__input{
                    padding: 15px 45px 15px 15px;
                    width: 248px;
                    margin-bottom: 10px;
                    border: 1px solid $border;
                    border-radius: 5px;
    
                    &:focus{
                        border-color: $main-color;
                        transition: 0.3s;
                    }

                    &.ok{
                        border-color: $ok;
                    }

                    &.error{
                        border-color: $error;
                    }
                }

                .gate__icon{
                    position: absolute;
                    top: 13px;
                    right: 15px;
                    font-size: 20px;
                    transform: scale(0);
                    transition: 0.3s;
                    pointer-events: none;

                    &.bx-check-circle{
                        color: $ok;
                        transform: scale(1);
                        transition: 0.3s;
                    }

                    &.bx-x-circle{
                        color: $error;
                        transform: scale(1);
                        transition: 0.3s;
                    }
                }
    
                .gate__btn{
                    padding: 10px 20px;
                    width: 310px;
                    margin-bottom: 10px;
                    color: white;
                    border-radius: 5px;
                    background-color: $main-color;
                    transition: 0.3s;
                    cursor: pointer;
    
                    &:hover{
                        background-color: $sub-color;
                        transition: 0.3s;
                    }
                }
    
                .gate__switch-btn{
                    display: block;
                    transition: 0.3s;
                    cursor: pointer;
    
                    &:hover{
                        transition: 0.3s;
                        color: $btn-hover;
                    }
                }
            }

            .gate__txt{
                display: inline-block;
                padding: 0 12px;
                height: 12px;
                font-size: 12px;
                letter-spacing: 2px;
                margin-bottom: 10px;

                &.ok{
                    color: $ok;
                }

                &.error{
                    color: $error;
                }
            }
        }
    }
}

.confirm{
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30%;
    z-index: 999;
    padding: 0 15px 30px 15px;
    width: 250px;
    height: 180px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 15px $shadow;
    transform: scale(0);
    transition: 0.3s;

    &::before{
        display: block;
        width: 280px;
        height: 10px;
        content: "";
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    }

    &__title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: $main-color;
    }

    &__txt{
        margin-top: 25px;
        text-align: center;

        .confirm__link{
            color: $main-color;
            transition: 0.3s;
    
            &:hover{
                margin: 0;
                color: $sub-color;
                transition: 0.3s;
            }
        }
    }

    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &::before{
            position: absolute;
            z-index: 10;
            width: 30px;
            height: 30px;
            content: "";
            border-radius: 50%;
            background-color: white;
        }

        &::after{
            position: absolute;
            z-index: 5;
            width: 40px;
            height: 40px;
            content: "";
            border-radius: 50%;
            background: linear-gradient(135deg, #e1ecef 0%, #145e71 100%);
            animation: loading-circle 0.75s linear infinite;
        }

        @keyframes loading-circle{
            0%{
                transform: rotate(0);
            }

            100%{
                transform: rotate(360deg);
            }
        }

    }

    &__btn{
        width: 120px;
        transition: 0.3s;

        &:hover{
            background-color: $sub-color;
            transition: 0.3s;
        }
    }
}

nav{
    grid-row: 1;
    grid-column: 1/4;
    height: 54px;

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 54px;
        border-bottom: 1px solid $border;
        background-color: white;

        &__wrapper{
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 1200px;
            height: 100%;

            @include pad(){
                width: 755px;
            } 

            @include mobile(){
                width: 365px;
            }

            .navbar__title{
                align-self: center;
                font-size: 30px;
                font-weight: bold;
                color: $main-color;
                line-height: 54px;
            }

            .navbar__menu-btn{
                align-self: center;
                display: none;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                font-size: 35px;

                @include mobile(){
                    display: flex;
                }
            }

            .navbar__btn-wrapper{
                justify-content: space-between;
                position: relative;

                @include mobile(){
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    top: 54px;
                    right: 0;
                    padding-bottom: 10px;
                    width: 140px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background-color: white;
                }

                .navbar__btn{
                    width: 90px;
                    height: 100%;
                    color: $btn;
                    transition: 0.3s;
                    cursor: pointer;

                    @include mobile(){
                        height: 30px;
                        margin: 10px 0;
                    }
    
                    &:hover{
                        color: $btn-hover;
                        transition: 0.3s;
                    }

                    &:nth-child(2){
                        position: relative;
                    }
                }
    
                .navbar__icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 70px;
                    bottom: 6px;
                    width: 18px;
                    height: 18px;
                    border: 2px solid white;
                    border-radius: 50%;
                    background-color: $main-color;
                    transform: scale(0);
                    transition: 0.1s;
                    pointer-events: none;

                    @include mobile(){
                        left: 72px;
                        bottom: -4px;
                    }

                    .navbar__number{
                        font-size: 8px;
                        font-style: normal;
                        color: white;
                    }
                }
            }
        }
    }
}

.content-wrapper{
    grid-row: 2;
    grid-column: 1/4;

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 320px;
        background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);

        @include pad(){
            height: 300px;
        }

        @include mobile(){
            height: 280px;
        }

        .header{
            display: flex;
            align-items: center;
            padding: 10px;
            width: 1180px;
            height: 149px;

            @include pad(){
                width: 720px;
                height: 169px;
            }

            @include mobile(){
                width: 340px;
                height: 169px;
            }

            &__wrapper{
                z-index: 5;

                .header__title{
                    font-size: 28px;
                    color: $sub-txt;
                    text-shadow: 0px 0px 30px $shadow;
                }
        
                .header__txt{
                    color: $sub-txt;
                    margin-top: 20px;
                    margin-bottom: 25px;
                }

                .header__input-wrapper{
                    display: flex;
                    width: 460px;
                    height: 46px;
                    box-shadow: 0 0 15px 1px $shadow;

                    @include pad(){
                        width: 340px;
                    }

                    @include mobile(){
                        width: 322px;
                    }

                    .header__input{
                        padding: 15px;
                        width: 370px;
                        font-weight: bold;
                        border-radius: 5px 0 0 5px;

                        @include pad(){
                            width: 250px;
                        }

                        @include mobile(){
                            width: 230px;
                        }
                    }

                    .header__btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 46px;
                        background-color: $main-color;
                        border-radius: 0 5px 5px 0;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover{
                            background-color: $sub-color;
                            transition: 0.3s;
                        }
                    }
                }
            }

            &__img{
                max-width: 100%;
                position: absolute;
                z-index: 1;
                width: 650px;
                height: 320px;
                right: 10%;
                bottom: 0;
                background-image: url("../static/img/welcome.png");
                
                
                @include pad(){
                    right: 1%;
                }

                @include mobile(){
                    width: 212px;
                    height: 148px;
                    right: 0;
                    background-image: url("../static/img/welcome-small.png");
                }
            }
        }

        .member-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 1200px;

            &__img{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 150px;
                margin-bottom: 20px;
                border-radius: 50%;
                background-color: white;

                .member-header__icon{
                    font-size: 100px;
                    color: $sub-color;
                }
            }

            &__wrapper{
                display: flex;
                margin-bottom: 20px;
                height: 24px;

                .member-header__title-wrapper{
                    position: relative;

                    .member-header__title{
                        height: 24px;
                        font-size: 24px;
                        font-weight: bold;
                        color: white;
                        text-shadow: 0px 0px 30px $shadow;
                    }

                    .member-header__btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        bottom: 0;
                        right: -40px;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                .member-header__input-wrapper{
                    position: relative;

                    .member-header__input{
                        z-index: 10;
                        padding: 7px 45px 7px 10px;
                        width: 150px;
                        border-radius: 5px;

                        &.error{
                            color: $error;
                        }
                    }

                    .member-header__input-btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        background-color: $main-color;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover{
                            background-color: $sub-color;
                            transition: 0.3s;
                        }
                    }
                }

                .member-header__icon{
                    font-size: 20px;
                    color: $sub-txt;
                    pointer-events: none;
                }
            }

            &__sub-title{
                height: 16px;
                color: white;
                text-shadow: 0px 0px 30px $shadow;
            }
        }
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;

        .main{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            width: 1200px;
            margin: 40px 0;

            @include pad(){
                width: 764px;
            }

            @include mobile(){
                width: 352px;
            }

            &__wrapper{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                .main__link{
                    margin: 15px;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover{
                        box-shadow: 0 0 2px $shadow;
                        opacity: 0.75;
                        transition: 0.3s;
                    }
    
                    .card{
                        width: 268px;
                        height: $card-ht;
                        border: 1px solid $border;
                        border-radius: 5px;
                        background-color: white;

                        @include pad(){
                            width: 350px;
                            height: 280px;
                        }
        
                        @include mobile(){
                            width: 322px;
                            height: 280px;
                        }
        
                        &__img{
                            height: $card__img-ht;
                            border-radius: 5px 5px 0 0;
                            background-size: cover;
        
                            @include pad(){
                                height: 202px;
                            }
        
                            @include mobile(){
                                height: 202px;
                            }
                        }
        
                        &__wrapper{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: $card__txt-pd;
                            width: 248px;
                            height: $card__txt-ht;
        
                            @include pad(){
                                width: 330px;
                            }
        
                            @include mobile(){
                                width: 302px;
                            }
        
                            .card__title{
                                width: 100%;
                                height: 20px;
                                font-weight: bold;

                                &.skeleton{
                                    color: transparent;   
                                }
                            }
        
                            .card__desc-wrapper{
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
        
                                .card__desc{
                                    display: inline-block;
                                    width: 45%;
                                    height: 20px;

                                    &.skeleton{
                                        color: transparent;
                                    }
                                }

                                .card__desc:last-child{
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }

            &__txt{
                display: block;
                width: 100%;
                height: 150px;
                font-size: 24px;
                text-align: center;
                line-height: 150px;

                @include pad(){
                    padding: 15px;
                    height: 70px;
                    font-size: 24px;
                    line-height: 70px;
                }

                @include mobile(){
                    padding: 15px;
                    height: 70px;
                    font-size: 20px;
                    line-height: 70px;
                }
            }

            &__sentinel{
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }

        .attraction-main{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 1200px;
            margin: 40px 0;

            @include pad(){
                justify-content: center;
                width: 748px;
            }

            @include mobile(){
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                width: 100%;
                overflow: hidden;
            }

            .profile{
                display: flex;
                padding: 0 15px;
                width: 1170px;
                height: 400px;

                @include pad(){
                    justify-content: center;
                    flex-direction: column;
                    padding: 0;
                    width: 748px;
                    height: auto;
                }

                @include mobile(){
                    justify-content: center;
                    flex-direction: column;
                    padding: 0;
                    width: 340px;
                    height: auto;
                }

                .slider{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 540px;
                    height: 100%;
                    margin-right: 30px;
                    border-radius: 5px;

                    @include pad(){
                        position: absolute;
                        align-self: center;
                        top: 0;
                        width: 540px;
                        height: 400px;
                        margin: 0;
                    }

                    @include mobile(){
                        position: absolute;
                        align-self: center;
                        top: 0;
                        width: 540px;
                        height: 400px;
                        margin: 0;
                    }

                    &__showcase{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        position: relative;
                        overflow: hidden;

                        .slider__img{
                            display: block;
                            width: 540px;
                            max-width: 540px;
                            height: 100%;
                            border-radius: 5px;

                            &.l-img{
                                position: absolute;
                                left: -540px;
                                transform: translateX(0);
                            }

                            &.f-img{
                                position: absolute;
                                right: -540px;
                                transform: translateX(0);
                            }
                        }
        
                        .slider__container{
                            display: flex;
                            align-items: center;
                            width: auto;
                            height: 100%;
                            transform: translateX(0);
                        }
                    }

                    &__btn{
                        opacity: 0.75;
                        transition: 0.3s;
                        cursor: pointer;
                        
                        &:hover{
                            opacity: 1;
                            transition: 0.3s;
                        }

                        &.l-btn{
                            position: absolute;
                            left: 10px;
                        
                            @include mobile(){
                                left: 100px;
                            }
                        
                            @include bp-414(){
                                left: 73px;
                            }
                        
                            @include bp-480(){
                                left: 40px;
                            }
                        }

                        &.r-btn{
                            position: absolute;
                            right: 10px;
                        
                            @include mobile(){
                                right: 100px;
                            }
                        
                            @include bp-414(){
                                right: 73px;
                            }
                        
                            @include bp-480(){
                                right: 40px;
                            }
                        }
                    }

                    &__indicator{
                        display: flex;
                        position: absolute;
                        bottom: 13px;

                        .slider__dot{
                            width: 12px;
                            height: 12px;
                            margin: 0 6px;
                            background: url("../static/img/circle_Ncurrent.png");
                            transition: ease-in-out 0.5s;

                            @include mobile(){
                                margin: 0 4px;
                            }

                            &.current{
                                background: url("../static/img/circle_current.png") !important;
                            }
                        }
                    }
                }

                &__wrapper{
                    display: flex;
                    flex-direction: column;
                    padding: 8px 0;
                    width: 600px;

                    @include pad(){
                        padding: 0;
                        width: 100%;
                        margin-top: 450px;
                    }

                    @include mobile(){
                        padding: 0;
                        width: 100%;
                        margin-top: 420px;
                    }

                    .profile__title{
                        width: 400px;
                        height: 24px;
                        margin-bottom: 20px;
                        font-size: 24px;
                        font-weight: bold;

                        @include mobile(){
                            width: 340px;
                            height: auto;
                            min-height: 24px;
                        }
                    }

                    .profile__desc{
                        width: 200px;
                        height: 16px;
                        margin-bottom: 20px;
                    }

                    .order{
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        width: 560px;
                        min-height: 262px;
                        border-radius: 5px;
                        background-color: $background;

                        @include pad(){
                            padding: 15px 20px;
                            width: 708px;
                        }

                        @include mobile(){
                            padding: 15px 20px;
                            width: 300px;
                        }

                        &__title{
                            margin-bottom: 20px;
                        }

                        &__txt{
                            margin-bottom: 15px;
                        }

                        &__wrapper{
                            margin-bottom: 20px;
                        
                            .order__sub-title{
                                margin-right: 5px;
                            }

                            .order__date{
                                position: relative;
                                padding: 0 10px;
                                width: 173px;
                                height: 35px;
                                background-color: white;

                                &::-webkit-calendar-picker-indicator{
                                    position: absolute;
                                    right: 0;
                                    padding: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }

                                &::after{
                                    content: "";
                                    position: absolute;
                                    right: 10px;
                                    width: 24px;
                                    height: 24px;
                                    background: url("../static/img/icon_calendar.png");
                                    pointer-events: none;
                                }
                            }

                            .order__label{
                                display: flex;
                                align-items: center;
                                margin-right: 18px;
                                cursor: pointer;

                                .order__radio--native{
                                    display: none;
                                }

                                .order__radio{
                                    padding: 2px;
                                    width: 18px;
                                    height: 18px;
                                    margin-right: 5px;
                                    border-radius: 50%;
                                    background: white;

                                    &::after{
                                        display: block;
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        background-color: $main-color;
                                        transform: scale(0);
                                        transition: 0.3s;
                                    }
                                }

                                .order__radio--native:checked + .order__radio::after{
                                    transform: scale(1);
                                    transition: 0.3s;
                                }
                            }
                        }

                        &__btn{
                            width: 154px;
                            margin-top: 5px;

                            &:hover{
                                background-color: $sub-color;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }

            .info{
                padding: 10px;
                width: 100%;
                height: auto;

                @include pad(){
                    width: 728px;
                }

                @include mobile(){
                    width: 320px;
                }

                &__txt{
                    display: block;
                    width: 100%;
                    margin-bottom: 25px;
                    line-height: 24px;
                    letter-spacing: 1px;
                }

                &__txt:nth-child(1){
                    min-height: 150px;
                }

                &__wrapper{
                    .info__sub-title{
                        width: 90px;
                        height: 32px;
                        margin-bottom: 5px;
                        font-weight: bold;
                        line-height: 32px;
                    }
                }

                &__wrapper:nth-child(2){
                    .info__txt{
                        width: 700px;
                        min-height: 24px;

                        @include mobile(){
                            width: 320px;
                            min-height: 24px;
                            height: auto;
                        }
                    }
                }

                &__wrapper:nth-child(3){
                    .info__txt{
                        width: 100%;
                        min-height: 48px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .booking-main{
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 1200px;
            margin: 40px 0;

            @include pad(){
                padding: 0 10px;
                width: 700px;
            }

            @include mobile(){
                padding: 0 10px;
                width: 340px;
            }

            &__headline{
                width: 1000px;
                font-size: 19px;
                font-weight: bold;
                opacity: 0;
                transform: translateY(-50%);
                transition: 1s;

                & > span{
                    font-weight: bold;
                }

                @include pad(){
                    width: 700px;
                }
    
                @include mobile(){
                    width: 340px;
                }
            }

            &__wrapper{
                width: 1000px;
                opacity: 0;
                transform: translateY(-20px);
                transition: 1s;

                @include pad(){
                    width: 700px;
                }

                @include mobile(){
                    width: 340px;
                }

                .booking-main__txt{
                    display: block;
                    margin-top: 40px;
                }

                .booking-main__schedule-wrapper{
                    @include pad(){
                        width: 100%;
                    }

                    @include mobile(){
                        display: flex;
                        flex-direction: column;
                        width: 340px;
                        height: auto;
                    }

                    .schedule{
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        width: 980px;
                        height: 200px;
                        margin-top: 40px;
    
                        @include pad(){
                            width: 100%;
                        }
    
                        @include mobile(){
                            flex-direction: column;
                            justify-content: none;
                            width: 340px;
                            height: auto;
                        }
        
                        &__img{
                            width: 250px;
                            max-width: 266px;
                            height: 100%;
                            border-radius: 5px;

                            @include pad(){
                                width: 300px;
                                max-width: 300px;
                            }

                            @include mobile(){
                                width: 340px;
                                max-width: 340px;
                            }
                        }
        
                        &__wrapper{
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            width: 700px;
                            height: 170px;
    
                            @include pad(){
                                width: 380px;
                            }
    
                            @include mobile(){
                                margin-top: 30px;
                                width: 340px;
                                height: 200px;
                            }
        
                            .schedule__title{
                                margin-bottom: 30px;
                                font-weight: bold;
                                color: $main-color;
                            }
        
                            .schedule__txt-wrapper{
                                margin-bottom: 20px;
        
                                .schedule__sub-title{
                                    font-weight: bold;
                                }
                            }
        
                            .schedule__btn{
                                position: absolute;
                                right: 0;
                                width: 30px;
                                height: 30px;
                                transition: 0.3s;
                                cursor: pointer;
        
                                @include mobile(){
                                    top: none;
                                    bottom: 0;
                                }
    
                                &:hover{
                                    opacity: 0.5;
                                    transition: 0.3s;
                                }
                            }
                        }
                    }
                }

                .contact{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 980px;
                    height: 227px;

                    @include pad(){
                        width: 700px;
                    }

                    @include mobile(){
                        width: 340px;
                    }
    
                    &__headline{
                        font-size: 19px;
                        font-weight: bold;
                    }
    
                    &__wrapper{
                        display: flex;
                        position: relative;

                        .contact__input{
                            padding: 10px; 
                            width: 180px;
                            border: 1px solid $border;
                            border-radius: 5px;
    
                            &:focus{
                                border-color: $main-color;
                            }
    
                            &.error{
                                border-color: $error;
                            }
                        }

                        .contact__icon{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            color: $error;
                            transform: scale(0);
                            transition: 0.3s;
                            pointer-events: none;

                            &.bx-x-circle{
                                transform: scale(1);
                                transition: 0.3s;
                            }
                        }
                    }
    
                    &__txt{
                        font-weight: bold;

                        @include mobile(){
                            width: 340px;
                        }
                    }
                }
    
                .payment{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 980px;
                    height: 188px;

                    @include pad(){
                        width: 700px;
                    }

                    @include mobile(){
                        width: 340px;
                    }
    
                    &__headline{
                        font-size: 19px;
                        font-weight: bold;
                    }
    
                    &__wrapper{
                        display: flex;
                        position: relative;

                        .tpfield{
                            padding: 10px;
                            width: 180px;
                            height: 15px;
                            border: 1px solid $border;
                            border-radius: 5px;
                            }

                        .tappay-field-focus{
                            border-color: $main-color;
                        }

                        .tappay-field-valid{
                            border-color: $ok;
                        }

                        .tappay-field-invalid{
                            border-color: $error;
                        }


                        .payment__icon{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            color: $error;
                            transform: scale(0);
                            transition: 0.3s;
                            pointer-events: none;

                            &.bx-x-circle{
                                transform: scale(1);
                                transition: 0.3s;
                            }
                        }
                    }
                }
    
                .summary{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 980px;
                    height: 100px;

                    @include pad(){
                        width: 700px;
                    }

                    @include mobile(){
                        width: 340px;
                    }
    
                    &__title{
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
    
                    &__btn{
                        width: 173px;
    
                        &:hover{
                            background: $sub-color;
                            transition: 0.3s;
                        }
                    }
                }
            }

            &__wrapper:last-child{
                position: absolute;
                top: 20px;
                transform: translateY(-5px);
                transition: 0.5s;
            }
        }

        .member-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1200px;
            margin: 40px 0;

            @include pad(){
                width: 710px;
            }

            @include mobile(){
                width: 360px;
            }

            &__title{
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 4px;
                color: $main-color;
                margin-bottom: 40px;
            }

            &__wrapper{
                position: relative;
                display: flex;
                justify-content: center;
                width: 1000px;
                border-radius: 5px;

                @include pad(){
                    width: 700px;
                }

                @include mobile(){
                    width: 340px;
                }

                .member-main__msg{
                    position: absolute;
                    font-size: 20px;
                    text-align: center;
                    letter-spacing: 2px;
                    opacity: 0;
                    transform: translateY(-5px);
                    transition: 0.5s;
                }

                .order-history{
                    width: 100%;
                    opacity: 0;
                    transform: translateY(-5px);
                    transition: 0.5s;

                    &__header{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        height: 40px;
                        border-radius: 5px;
                        background-color: $sub-color;

                        @include mobile(){
                            grid-template-columns: 1fr 1fr 100px;
                        }

                        .order-history__title{
                            justify-self: center;
                            align-self: center;
                            font-size: 18px;
                            color: white;

                            @include mobile(){
                                font-size: 14px;
                            }
                        }
                    }

                    &__wrapper{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 30px 1fr;
                        position: relative;
                        padding: 20px 0;
                        font-size: 16px;
                        border-bottom: 1px solid $border;

                        @include mobile(){
                            grid-template-columns: 1fr 1fr 100px;
                        }

                        .order-history__txt{
                            grid-row: 1/2;
                            justify-self: center;
                            align-self: center;
                            padding: 0 5px;
                            font-size: 16px;
                            word-break: break-all;

                            @include mobile(){
                                font-size: 12px;
                            }
                        }

                        .order-history__btn{
                            grid-row: 1/2;
                            align-self: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            right: 10px;
                            width: 24px;
                            height: 24px;
                            cursor: pointer;

                            @include mobile(){
                                right: 0;
                            }

                            i{
                                font-size: 24px;

                                @include mobile(){
                                    font-size: 18px;
                                }
                            }
                        }

                        .order-detail{
                            grid-column: 1/4;
                            grid-row: 2/3;
                            display: flex;
                            flex-direction: column;
                            padding: 20px 30px 0 30px;
                            margin-top: 15px;
                            border-radius: 5px;
                            background-color: rgba($main-color, 0.05);

                            @include mobile(){
                                padding: 20px 5px 0 5px;
                            }

                            &__header{
                                display: grid;
                                grid-template-columns: 1fr 1fr 120px 180px;
                                height: 40px;
                                border-radius: 5px;
                                background-color: rgba($sub-color, 0.2);

                                @include mobile(){
                                    grid-template-columns: 1fr 1fr 1fr 1fr;
                                }

                                &:first-child{
                                    grid-template-columns: 1fr 1fr 1fr;
                                }

                                .order-detail__sub-title{
                                    justify-self: center;
                                    align-self: center;

                                    @include mobile(){
                                        font-size: 14px;
                                    }
                                }
                            }

                            &__wrapper{
                                display: grid;
                                grid-template-columns: 1fr 1fr 120px 180px;
                                padding: 15px 0;
                                border-bottom: 1px solid $border;

                                @include mobile(){
                                    grid-template-columns: 1fr 1fr 1fr 1fr;
                                }

                                &:nth-child(2){
                                    grid-template-columns: 1fr 1fr 1fr;
                                }

                                &:last-child{
                                    border: none;
                                }

                                .order-detail__txt{
                                    justify-self: center;
                                    align-self: center;
                                    word-break: break-all;

                                    @include mobile(){
                                        padding: 0 5px;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .thankyou-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1200px;
            margin: 40px 0;

            &__wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 0;
                transform: translateY(5%);
                transition: 1.5s;

                .thankyou-main__icon{
                    width: 108px;
                    height: 108px;
                    font-size: 108px;
                    color: $sub-color;
                    opacity: 0;
                    transform: translateY(5%);
                    transition: 1.5s;
                }

                .thankyou-main__title{
                    margin-top: 30px;
                    font-size: 24px;
                    font-weight: bold;
                }
    
                .thankyou-main__txt{
                    margin-top: 30px;
                    font-size: 18px;
                }
    
                .thankyou-main__link{
                    color: $main-color;
                    transition: 0.3s;
    
                    &:hover{
                        color: $sub-color;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

footer{
    grid-row: 3;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    background-color: $main-txt;

    @include pad(){
        height: 78px;
    }

    @include mobile(){
        height: 52px;
    }

    .footer{
        display: flex;
        justify-items: center;
        align-items: center;

        .footer__txt{
            font-weight: bold;
            color: $sub-txt;
        }
    }
}