<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>Taipei Day Trip</title>
</head>
<body>
    <div class="content-wrapper">
        <nav>
            <div class="fixed-wrapper">
                <div class="navbar">
                    <a href="/"><h1 class="navbar__title">台北一日遊</h1></a>
                    <div class="navbar__wrapper">
                        <a class="navbar__btn" href="#">預定行程</a>
                        <a class="navbar__btn" href="#">登入/註冊</a>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="attraction-main">
                <section class="profile">
                    <div class="slider">
                        <div class="slider__showcase">
                            <img class="slider__img l-img" id="slider__last-img" src="" alt="">
                            <div class="slider__container" id="js-slider__container"></div>
                            <img class="slider__img f-img" id="slider__first-img" src="" alt="">
                        </div>
                        <button class="slider__btn l" id="js-slider__previous-btn"><img src="../static/img/btn_leftArrow.png"></button>
                        <button class="slider__btn r" id="js-slider__next-btn"><img src="../static/img/btn_rightArrow.png"></button>
                        <div class="slider__indicator" id="js-slider__indicator"></div>
                    </div>
                    <div class="profile__wrapper">
                        <h1 class="profile__title" id="js-profile__title"></h1>
                        <span class="profile__desc" id="js-profile__desc"></span>

                        <form class="order" action="/booking">
                            <h1 class="order__title">訂購導覽行程</h1>
                            <p class="order__desc">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                            <div class="order__wrapper">
                                <h1 class="order__sub-title">選擇日期：</h1>
                                <input class="order__date" name="order__date" type="date">
                            </div>
                            <div class="order__wrapper">
                                <h1 class="order__sub-title">選擇時間：</h1>
                                <label class="order__label" for="js-order__morning">
                                    <input class="order__radio--native" id="js-order__morning" value="morning" name="order__time" type="radio" checked>
                                    <div class="order__radio"></div>
                                    上半天
                                </label>
                                <label class="order__label" for="js-order__afternoon">
                                    <input class="order__radio--native" id="js-order__afternoon" value="afternoon" name="order__time" type="radio">
                                    <div class="order__radio"></div>
                                    下半天
                                </label>
                            </div>
                            <div class="order__wrapper">
                                <h1 class="order__sub-title">導覽費用：</h1>
                                <span class="order__price" id="js-order__price">新台幣 2000 元</span>
                            </div>
                            <button class="order__btn" id="js-order__btn" type="submit">開始預訂行程</button>
                        </form>
                    </div>
                </section>

                <div class="separator"></div>

                <section class="info">
                    <p class="info__desc" id="js-info__desc"></p>
                    <div class="info__wrapper">
                        <h1 class="info__sub-title">景點地址：</h1>
                        <p class="info__txt" id="js-info__address"></p>
                    </div>
                    <div class="info__wrapper">
                        <h1 class="info__sub-title">交通方式：</h1>
                        <p class="info__txt" id="js-info__transport"></p>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <footer>
        <div class="footer">
            <p class="footer__txt">COPYRIGHT © 2021 台北一日遊</p>
        </div>
    </footer>

    <script src="../static/attraction.js"></script>
</body>
</html>