<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Taipei Day Trip</title>
</head>
<body>
    <article class="popup" id="js-popup">
        <div class="gate" id="js-gate">
            <div class="gate__wrapper">
                <h1 class="gate__title" id="js-gate__title">登入會員帳號</h1>
                <button class="gate__close" id="js-gate__close"><img src="../static/img/icon_close.png" alt="關閉彈出視窗"></button>

                <div class="gate__form-wrapper" id="js-sign-in">
                    <div class="gate__input-wrapper">
                        <input class="gate__input" id="js-sign-in__email" type="text" placeholder="輸入電子信箱">
                        <i class="gate__icon bx "></i>
                    </div>

                    <div class="gate__input-wrapper">
                        <input class="gate__input" id="js-sign-in__pwd" type="password" placeholder="輸入密碼">
                        <i class="gate__icon bx"></i>
                    </div>

                    <button class="gate__btn" id="js-sign-in__btn">登入帳號</button>
                    <p class="gate__txt error" id="js-sign-in__message"></p>
                    <button class="gate__switch-btn" id="js-sign-in__switch-btn">還沒有帳號？點此註冊</button>
                </div>

                <div class="gate__form-wrapper hidden" id="js-sign-up">
                    <div class="gate__input-wrapper">
                        <input class="gate__input" id="js-sign-up__name" type="text" placeholder="輸入姓名">
                        <i class="gate__icon bx"></i>
                    </div>

                    <div class="gate__input-wrapper">
                        <input class="gate__input" id="js-sign-up__email" type="text" placeholder="輸入電子信箱">
                        <i class="gate__icon bx"></i>
                    </div>

                    <div class="gate__input-wrapper">
                        <input class="gate__input" id="js-sign-up__pwd" type="password" placeholder="輸入密碼">
                        <i class="gate__icon bx"></i>
                    </div>

                    <button class="gate__btn" id="js-sign-up__btn">註冊新帳號</button>
                    <p class="gate__txt" id="js-sign-up__message"></p>
                    <button class="gate__switch-btn" id="js-sign-up__switch-btn">已經有帳號了？點此登入</button>
                </div>
            </div>
        </div>
    </article>

    <div class="confirm" id="js-attraction-confirm">
        <div class="confirm__wrapper hidden" id="js-attraction-confirm__success">
            <h1 class="confirm__title">預定成功</h1>
            <p class="confirm__txt">前往<a class="confirm__link" href="/booking">預定行程</a>確認您的行程</p>
        </div>

        <div class="confirm__wrapper hidden" id="js-attraction-confirm__failure">
            <h1 class="confirm__title">錯誤</h1>
            <p class="confirm__txt">請確認選擇的日期是否正確</p>
        </div>

        <button class="confirm__btn btn" id="js-attraction-confirm__btn"></button>
    </div>

    <nav>
        <div class="navbar">
            <div class="navbar__wrapper">
                <a href="/"><h1 class="navbar__title">台北一日遊</h1></a>

                <div class="navbar__btn-wrapper va">
                    <button class="navbar__btn" id="js-navbar__booking-btn">預訂行程 </button>
                    <button class="navbar__btn" id="js-navbar__gate-btn">登入/註冊</button>
                    <button class="navbar__btn hidden" id="js-navbar__member-btn">會員中心</button>

                    <div class="navbar__menu">
                        <button class="navbar__btn" id="js-navbar__sign-out-btn">登出系統</button>
                    </div>

                    <i class="navbar__icon" id="js-navbar__icon"><span class="navbar__number" id="js-navbar__number"></span></i>
                </div>
            </div>
        </div>
    </nav>

    <div class="content-wrapper">
        <main>
            <div class="attraction-main">
                <article class="profile">
                    <div class="slider">
                        <div class="slider__showcase skeleton" id="js-slider__showcase">
                            <img class="slider__img l-img" id="js-slider__last-img" src="" alt="">
                            <div class="slider__container" id="js-slider__container"></div>
                            <img class="slider__img f-img" id="js-slider__first-img" src="" alt="">
                        </div>

                        <button class="slider__btn l-btn" id="js-slider__previous-btn"><img src="../static/img/btn_leftArrow.png"></button>
                        <button class="slider__btn r-btn" id="js-slider__next-btn"><img src="../static/img/btn_rightArrow.png"></button>
                        <div class="slider__indicator" id="js-slider__indicator"></div>
                    </div>
                    
                    <div class="profile__wrapper">
                        <h1 class="profile__title skeleton" id="js-profile__title"></h1>
                        <span class="profile__desc skeleton" id="js-profile__desc"></span>
                        
                        <div class="order skeleton" id="js-order">
                            <h1 class="order__title">訂購導覽行程</h1>
                            <p class="order__txt">以此景點為中心的一日行程，帶您探索城市角落故事</p>

                            <div class="order__wrapper va">
                                <h1 class="order__sub-title">選擇日期：</h1>
                                <input class="order__date" id="js-order__date" name="order__date" type="date">
                            </div>

                            <div class="order__wrapper va">
                                <h1 class="order__sub-title">選擇時間：</h1>
                                <label class="order__label" for="js-order__morning">
                                    <input class="order__radio--native" id="js-order__morning" value="morning" name="order__time" type="radio" checked>
                                    <div class="order__radio"></div>
                                    上半天
                                </label>

                                <label class="order__label" for="js-order__afternoon">
                                    <input class="order__radio--native" id="js-order__afternoon" value="afternoon" name="order__time" type="radio">
                                    <div class="order__radio"></div>
                                    下半天
                                </label>
                            </div>

                            <div class="order__wrapper va">
                                <h1 class="order__sub-title">導覽費用：</h1>
                                <span class="order__desc">新台幣 <span class="oder__desc" id="js-order__price">2000</span> 元</span>
                            </div>

                            <button class="order__btn btn" id="js-order__btn" type="button">開始預訂行程</button>
                        </div>
                    </div>
                </article>

                <div class="hr"></div>

                <section class="info" id="js-info">
                    <p class="info__txt skeleton" id="js-info__desc"></p>

                    <div class="info__wrapper">
                        <h1 class="info__sub-title skeleton">景點地址：</h1>
                        <p class="info__txt skeleton" id="js-info__address"></p>
                    </div>

                    <div class="info__wrapper">
                        <h1 class="info__sub-title skeleton">交通方式：</h1>
                        <p class="info__txt skeleton" id="js-info__transport"></p>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <footer>
        <div class="footer">
            <p class="footer__txt">COPYRIGHT © 2021 台北一日遊</p>
        </div>
    </footer>

    <script src="../static/nav.js"></script>
    <script src="../static/attraction.js"></script>
</body>
</html>