.hr {
  width: 100%;
  margin: 40px 0;
  border-bottom: 1px solid #E8E8E8;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .hr {
    width: 360px;
  }
}

.btn {
  padding: 10px 20px;
  height: 36px;
  line-height: 16px;
  color: white;
  border-radius: 5px;
  background-color: #448899;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.ha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.va {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  min-height: 100%;
  color: #666666;
  font-size: 16px;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  pointer-events: none;
}

.popup .gate {
  width: 340px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 60px #AABBCC;
          box-shadow: 0px 4px 60px #AABBCC;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup .gate::before {
  display: block;
  width: 340px;
  height: 10px;
  content: "";
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#337788), to(#66AABB));
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.popup .gate__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.popup .gate__wrapper .gate__title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.popup .gate__wrapper .gate__close {
  position: absolute;
  top: 25px;
  right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.popup .gate__wrapper .gate__close:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup .gate__wrapper .gate__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .gate__wrapper .gate__form-wrapper .gate__input-wrapper {
  position: relative;
}

.popup .gate__wrapper .gate__form-wrapper .gate__input {
  padding: 15px;
  width: 278px;
  margin-bottom: 10px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.popup .gate__wrapper .gate__form-wrapper .gate__input:focus {
  border-color: #448899;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup .gate__wrapper .gate__form-wrapper .gate__input.ok {
  border-color: #00CD28;
}

.popup .gate__wrapper .gate__form-wrapper .gate__input.error {
  border-color: #FF1B1B;
}

.popup .gate__wrapper .gate__form-wrapper .gate__icon {
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 20px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.popup .gate__wrapper .gate__form-wrapper .gate__icon.bx-check-circle {
  color: #00CD28;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup .gate__wrapper .gate__form-wrapper .gate__icon.bx-x-circle {
  color: #FF1B1B;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup .gate__wrapper .gate__form-wrapper .gate__btn {
  padding: 10px 20px;
  width: 310px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  background-color: #448899;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.popup .gate__wrapper .gate__form-wrapper .gate__btn:hover {
  background-color: #4EA0B4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup .gate__wrapper .gate__form-wrapper .gate__switch-btn {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.popup .gate__wrapper .gate__form-wrapper .gate__switch-btn:hover {
  -webkit-transition: 0.3;
  transition: 0.3;
  color: #B2B2B2;
}

.popup .gate__wrapper .gate__txt {
  display: inline-block;
  padding: 0 12px;
  height: 12px;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.popup .gate__wrapper .gate__txt.ok {
  color: #00CD28;
}

.popup .gate__wrapper .gate__txt.error {
  color: #FF1B1B;
}

.confirm {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 30%;
  z-index: 999;
  padding: 0 15px 30px 15px;
  width: 250px;
  height: 180px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 15px #AABBCC;
          box-shadow: 0px 1px 15px #AABBCC;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm::before {
  display: block;
  width: 280px;
  height: 10px;
  content: "";
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#337788), to(#66AABB));
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.confirm .confirm__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #448899;
}

.confirm .confirm__txt {
  margin-top: 25px;
  text-align: center;
}

.confirm .confirm__txt .confirm__link {
  color: #448899;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm .confirm__txt .confirm__link:hover {
  color: #4EA0B4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm__btn {
  width: 120px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm__btn:hover {
  background-color: #4EA0B4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  height: 54px;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #E8E8E8;
  background-color: white;
}

nav .navbar .navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  height: 34px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  nav .navbar .navbar__wrapper {
    width: 755px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  nav .navbar .navbar__wrapper {
    width: 365px;
  }
}

nav .navbar .navbar__wrapper .navbar__title {
  font-size: 30px;
  font-weight: bold;
  color: #448899;
  margin-left: 10px;
}

nav .navbar .navbar__wrapper .navbar__btn-wrapper {
  position: relative;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar .navbar__wrapper .navbar__btn-wrapper .navbar__btn {
  color: #666666;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

nav .navbar .navbar__wrapper .navbar__btn-wrapper .navbar__btn:hover {
  color: #B2B2B2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar .navbar__wrapper .navbar__btn-wrapper .navbar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 59px;
  bottom: 0;
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #448899;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  pointer-events: none;
}

nav .navbar .navbar__wrapper .navbar__btn-wrapper .navbar__icon .navbar__number {
  font-size: 8px;
  font-style: normal;
  color: white;
}

.content-wrapper {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.content-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 320px;
  background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper header {
    height: 300px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper header {
    height: 280px;
  }
}

.content-wrapper header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 1180px;
  height: 149px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper header .header {
    width: 720px;
    height: 169px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper header .header {
    width: 340px;
    height: 169px;
  }
}

.content-wrapper header .header__wrapper {
  z-index: 5;
}

.content-wrapper header .header__wrapper .header__title {
  font-size: 28px;
  color: #F8F8F8;
  text-shadow: 0px 0px 30px #AABBCC;
}

.content-wrapper header .header__wrapper .header__txt {
  color: #F8F8F8;
  margin-top: 20px;
  margin-bottom: 25px;
}

.content-wrapper header .header__wrapper .header__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  height: 46px;
  -webkit-box-shadow: 0 0 15px 1px #AABBCC;
          box-shadow: 0 0 15px 1px #AABBCC;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper header .header__wrapper .header__input-wrapper {
    width: 340px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper header .header__wrapper .header__input-wrapper {
    width: 322px;
  }
}

.content-wrapper header .header__wrapper .header__input-wrapper .header__input {
  padding: 15px;
  width: 370px;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper header .header__wrapper .header__input-wrapper .header__input {
    width: 250px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper header .header__wrapper .header__input-wrapper .header__input {
    width: 230px;
  }
}

.content-wrapper header .header__wrapper .header__input-wrapper .header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 46px;
  background-color: #448899;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper header .header__wrapper .header__input-wrapper .header__btn:hover {
  background-color: #4EA0B4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper header .header__img {
  max-width: 100%;
  position: absolute;
  z-index: 1;
  width: 650px;
  height: 320px;
  right: 10%;
  bottom: 0;
  background-image: url("../static/img/welcome.png");
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper header .header__img {
    right: 1%;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper header .header__img {
    width: 212px;
    height: 148px;
    right: 0;
    background-image: url("../static/img/welcome-small.png");
  }
}

.content-wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper main .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 1200px;
  margin: 40px 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .main {
    width: 764px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .main {
    width: 352px;
  }
}

.content-wrapper main .main__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .main__link:hover {
  opacity: 0.75;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .main__link .card {
  width: 268px;
  height: 240px;
  margin: 15px;
  background-color: white;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .main__link .card {
    width: 350px;
    height: 280px;
    margin: 15px 15px 0 15px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .main__link .card {
    width: 322px;
    height: 280px;
    margin: 15px 15px 0 15px;
  }
}

.content-wrapper main .main__link .card__img {
  width: 100%;
  max-width: 100%;
  height: 160px;
  background-color: #C4C4C4;
  border-radius: 5px 5px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .main__link .card__img {
    height: 202px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .main__link .card__img {
    height: 202px;
  }
}

.content-wrapper main .main__link .card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  width: 248px;
  height: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .main__link .card__wrapper {
    width: 330px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .main__link .card__wrapper {
    width: 302px;
  }
}

.content-wrapper main .main__link .card__wrapper .card__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  font-weight: bold;
}

.content-wrapper main .main__link .card__wrapper .card__desc-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content-wrapper main .main__link .card__wrapper .card__desc-wrapper .card__desc {
  display: inline-block;
}

.content-wrapper main .main__txt {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 24px;
  text-align: center;
  line-height: 150px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .main__txt {
    padding: 15px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .main__txt {
    padding: 15px;
    height: 70px;
    font-size: 20px;
    line-height: 70px;
  }
}

.content-wrapper main .main__sentinel {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.content-wrapper main .attraction-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 1200px;
  margin: 40px 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .attraction-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 748px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    width: 100%;
    overflow: hidden;
  }
}

.content-wrapper main .attraction-main .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  width: 1170px;
  height: 400px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .attraction-main .profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 748px;
    height: auto;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 340px;
    height: auto;
  }
}

.content-wrapper main .attraction-main .profile .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 540px;
  height: 100%;
  margin-right: 30px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .attraction-main .profile .slider {
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 0;
    width: 540px;
    height: 400px;
    margin: 0;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile .slider {
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 0;
    width: 540px;
    height: 400px;
    margin: 0;
  }
}

.content-wrapper main .attraction-main .profile .slider__showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.content-wrapper main .attraction-main .profile .slider__showcase .slider__img {
  display: block;
  width: 540px;
  max-width: 540px;
  height: 100%;
  border-radius: 5px;
}

.content-wrapper main .attraction-main .profile .slider__showcase .slider__img.l-img {
  position: absolute;
  left: -540px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-wrapper main .attraction-main .profile .slider__showcase .slider__img.f-img {
  position: absolute;
  right: -540px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-wrapper main .attraction-main .profile .slider__showcase .slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-wrapper main .attraction-main .profile .slider__btn {
  opacity: 0.75;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.content-wrapper main .attraction-main .profile .slider__btn:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .attraction-main .profile .slider__btn.l-btn {
  position: absolute;
  left: 10px;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile .slider__btn.l-btn {
    left: 100px;
  }
}

@media screen and (min-width: 414px) and (max-width: 480px) {
  .content-wrapper main .attraction-main .profile .slider__btn.l-btn {
    left: 73px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile .slider__btn.l-btn {
    left: 40px;
  }
}

.content-wrapper main .attraction-main .profile .slider__btn.r-btn {
  position: absolute;
  right: 10px;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile .slider__btn.r-btn {
    right: 100px;
  }
}

@media screen and (min-width: 414px) and (max-width: 480px) {
  .content-wrapper main .attraction-main .profile .slider__btn.r-btn {
    right: 73px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile .slider__btn.r-btn {
    right: 40px;
  }
}

.content-wrapper main .attraction-main .profile .slider__indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 13px;
}

.content-wrapper main .attraction-main .profile .slider__indicator .slider__dot {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: url("../static/img/circle_Ncurrent.png");
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile .slider__indicator .slider__dot {
    margin: 0 4px;
  }
}

.content-wrapper main .attraction-main .profile .slider__indicator .slider__dot.current {
  background: url("../static/img/circle_current.png") !important;
}

.content-wrapper main .attraction-main .profile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0;
  width: 600px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .attraction-main .profile__wrapper {
    padding: 0;
    width: 100%;
    margin-top: 450px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile__wrapper {
    padding: 0;
    width: 100%;
    margin-top: 420px;
  }
}

.content-wrapper main .attraction-main .profile__wrapper .profile__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.content-wrapper main .attraction-main .profile__wrapper .profile__desc {
  margin-bottom: 20px;
}

.content-wrapper main .attraction-main .profile__wrapper .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 560px;
  min-height: 262px;
  border-radius: 5px;
  background-color: #E8E8E8;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .attraction-main .profile__wrapper .order {
    padding: 15px 20px;
    width: 708px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .profile__wrapper .order {
    padding: 15px 20px;
    width: 300px;
  }
}

.content-wrapper main .attraction-main .profile__wrapper .order__title {
  margin-bottom: 20px;
}

.content-wrapper main .attraction-main .profile__wrapper .order__txt {
  margin-bottom: 15px;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper {
  margin-bottom: 20px;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__sub-title {
  margin-right: 5px;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__date {
  position: relative;
  padding: 0 10px;
  width: 173px;
  height: 35px;
  background-color: white;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__date::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  padding: 100%;
  opacity: 0;
  cursor: pointer;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__date::after {
  content: "";
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url("../static/img/icon_calendar.png");
  pointer-events: none;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
  cursor: pointer;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__label .order__radio--native {
  display: none;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__label .order__radio {
  padding: 2px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border-radius: 50%;
  background: white;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__label .order__radio::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #448899;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .attraction-main .profile__wrapper .order__wrapper .order__label .order__radio--native:checked + .order__radio::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .attraction-main .profile__wrapper .order__btn {
  width: 154px;
  margin-top: 5px;
}

.content-wrapper main .attraction-main .profile__wrapper .order__btn:hover {
  background-color: #4EA0B4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .attraction-main .info {
  padding: 10px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .attraction-main .info {
    width: 728px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .attraction-main .info {
    width: 320px;
  }
}

.content-wrapper main .attraction-main .info__txt {
  display: block;
  margin-bottom: 25px;
  line-height: 24px;
  letter-spacing: 1px;
}

.content-wrapper main .attraction-main .info__wrapper {
  margin-bottom: 25px;
}

.content-wrapper main .attraction-main .info__wrapper .info__sub-title {
  height: 32px;
  font-weight: bold;
  line-height: 32px;
}

.content-wrapper main .booking-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  margin: 40px 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main {
    padding: 0 10px;
    width: 700px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main {
    padding: 0 10px;
    width: 340px;
  }
}

.content-wrapper main .booking-main__headline {
  width: 1000px;
  font-size: 19px;
  font-weight: bolder;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__headline {
    width: 700px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__headline {
    width: 340px;
  }
}

.content-wrapper main .booking-main__wrapper {
  width: 1000px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper {
    width: 700px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper {
    width: 340px;
  }
}

.content-wrapper main .booking-main__wrapper .booking-main__txt {
  display: block;
  margin-top: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 340px;
    height: auto;
  }
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 980px;
  height: 200px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule {
    width: 100%;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    width: 340px;
    height: auto;
  }
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__img {
  width: 250px;
  max-width: 266px;
  height: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__img {
    width: 300px;
    max-width: 300px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__img {
    width: 340px;
    max-width: 340px;
  }
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 700px;
  height: 170px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper {
    width: 380px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper {
    margin-top: 30px;
    width: 340px;
    height: 200px;
  }
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper .schedule__title {
  margin-bottom: 30px;
  font-weight: bold;
  color: #448899;
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper .schedule__txt-wrapper {
  margin-bottom: 20px;
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper .schedule__txt-wrapper .schedule__sub-title {
  font-weight: bold;
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper .schedule__btn {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper .schedule__btn {
    top: none;
    bottom: 0;
  }
}

.content-wrapper main .booking-main__wrapper .booking-main__schedule-wrapper .schedule__wrapper .schedule__btn:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .booking-main__wrapper .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 980px;
  height: 227px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper .contact {
    width: 700px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .contact {
    width: 340px;
  }
}

.content-wrapper main .booking-main__wrapper .contact__headline {
  font-size: 19px;
  font-weight: bold;
}

.content-wrapper main .booking-main__wrapper .contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content-wrapper main .booking-main__wrapper .contact__wrapper .contact__input {
  padding: 10px;
  width: 180px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.content-wrapper main .booking-main__wrapper .contact__wrapper .contact__input:focus {
  border-color: #448899;
}

.content-wrapper main .booking-main__wrapper .contact__wrapper .contact__input.error {
  border-color: #FF1B1B;
}

.content-wrapper main .booking-main__wrapper .contact__wrapper .contact__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FF1B1B;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.content-wrapper main .booking-main__wrapper .contact__wrapper .contact__icon.bx-x-circle {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .booking-main__wrapper .contact__txt {
  font-weight: bold;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .contact__txt {
    width: 340px;
  }
}

.content-wrapper main .booking-main__wrapper .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 980px;
  height: 188px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper .payment {
    width: 700px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .payment {
    width: 340px;
  }
}

.content-wrapper main .booking-main__wrapper .payment__headline {
  font-size: 19px;
  font-weight: bold;
}

.content-wrapper main .booking-main__wrapper .payment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content-wrapper main .booking-main__wrapper .payment__wrapper .payment__input {
  padding: 10px;
  width: 180px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.content-wrapper main .booking-main__wrapper .payment__wrapper .payment__input:focus {
  border-color: #448899;
}

.content-wrapper main .booking-main__wrapper .payment__wrapper .payment__input.error {
  border-color: #FF1B1B;
}

.content-wrapper main .booking-main__wrapper .payment__wrapper .payment__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FF1B1B;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.content-wrapper main .booking-main__wrapper .payment__wrapper .payment__icon.bx-x-circle {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper main .booking-main__wrapper .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 980px;
  height: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content-wrapper main .booking-main__wrapper .summary {
    width: 700px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content-wrapper main .booking-main__wrapper .summary {
    width: 340px;
  }
}

.content-wrapper main .booking-main__wrapper .summary__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.content-wrapper main .booking-main__wrapper .summary__btn {
  width: 173px;
}

.content-wrapper main .booking-main__wrapper .summary__btn:hover {
  background: #4EA0B4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 104px;
  background-color: #666666;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer {
    height: 78px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  footer {
    height: 52px;
  }
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .footer__txt {
  font-weight: bold;
  color: #F8F8F8;
}
/*# sourceMappingURL=style.css.map */